.reservation {
  z-index: 1;
  @include nbpp {
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .reservation-personal_data {
    display: flex;
    flex-direction: column;
    align-items: center;

    .reservation-title {
      padding: 13vw 15vw;
      border-radius: 30%;
      font-size: 9vw;
      line-height: 5vw;
      text-align: center;
      margin: 50px;
      @include mobile-mini {
        font-size: 2rem;
        line-height: 3rem;
        padding: 30px 20px;
        margin: 85px;
      }
      @include mobile-mini-plus {
        font-size: 2rem;
        line-height: 3rem;
        padding: 40px 40px;
        margin: 50px 200px;
      }
      @include nbpp {
        font-size: 4rem;
        line-height: 5rem;
        padding: 80px 80px;

      }
    }

    .reservation-data-form {
      h2 {
        font-size: 5vw;
        line-height: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        @include mobile-mini {
          font-size: 4vw;
        }
        @include mobile {
          font-size: 2.5rem;
        }

        @include nbpp {
          font-size: 3rem;
        }
      }

      p {
        color: red;
        font-size: 1rem;
        margin-bottom: 5px;
        @include nbpp {
          font-size: 2rem;
        }
      }

      input, select, textarea {
        padding-left: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
        height: 30px;
        width: 50vw;
        @include mobile {
          width: 400px;
        }
        @include nbpp {
          font-size: 2rem;
          height: 40px;
          width: 400px;
        }
      }

      @include minHeight_nbpp {
        ::placeholder {
          font-size: 1.5rem;
        }
      }

      input[type="number"] {
        padding-left: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
        height: 30px;
        width: 50vw;
        @include mobile {
          width: 180px;
        }
        @include nbpp {
          font-size: 2rem;
          height: 50px;
          width: 280px;
        }
      }

      input[type="time"] {
        padding-left: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
        height: 30px;
        width: 80vw;
        @include mobile {
          width: 180px;
        }
        @include nbpp {
          font-size: 2rem;
          height: 50px;
          width: 280px;
        }
      }

      .custom-select__control {
        padding-left: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
        height: 100px;
        width: 60vw;
        border: 2px solid $color-green;
        font-size: 2rem;
        overflow: auto;
        @include mobile {
          width: 400px;
        }

        @include nbpp {
          font-size: 3rem;

        }


        }
      }
    .custom-select__menu {
      .custom-select__option {
        padding-left: 20px;
        font-size: 2rem;
        z-index: 15;
        @include nbpp {
          font-size: 2rem;
        }
      }

      .custom-select__menu {
        z-index: 15;
      }

    }
  }
}

.success-message-reservation {
  color: green;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 30vw 0;
  border: 2px solid green;
  border-radius: 5px;
  @include notebook_only_width {
    font-size: 2rem;
    margin: 200px 0;
    width: 800px;
  }
  @include nbpp {
    font-size: 3rem;
    margin: 200px 0 500px 0;
    width: 800px;
  }
}

.success-message-opinions {
  margin: 0;
}

.custom-datepicker {
  .react-datepicker {
    font-family: inherit;
    transform: scale(2);
    transform-origin: top left;
    font-size: 1rem;
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__navigation {
    width: 10px;
    height: 10px;
  }
}


.react-time-picker__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-time-picker__inputGroup {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.react-time-picker__inputGroup__input {
  width: 30% !important;
  text-align: center;
  padding: 0 !important;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
}

.react-time-picker__inputGroup__leadingZero {
  display: none;
}

.react-time-picker__inputGroup__divider {
  font-size: 16px;
  font-weight: bold;
}

.react-time-picker__clear-button {
  display: none;
}

.reservation-data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-personal_data-title {
  background-color: rgba(241, 231, 255, 0.7);
}

.reservation-personal_data-form {
  @include notebook_only_width {
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 100px;
  }

  input {
    border: 2px solid $color-main2;
  }
}

.reservation-about_party-title {
  background-color: rgba(170, 222, 242, 0.7);
}

.reservation-about_party-form {
  @include notebook_only_width {
    flex-direction: row-reverse;
    margin-bottom: 100px
  }

  input, select {
    border: 2px solid $color-lightBlue;
    background: none;
  }
}

.reservation-about_animations-title {
  background-color: rgba(198, 255, 221);
}

.reservation-about_animations-form {
  @include notebook_only_width {
    flex-direction: row;
  }

  input, select, textarea {
    border: 2px solid $color-green;
    background: none;
  }
}

.reservation {
  .reservation-personal_data {
    .reservation-about_animations {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 150px;
      width: 80vw;
      height: 80vw;
      @include mobile {
        margin-bottom: 100px;
        width: 400px;
        height: 400px;
      }
      @include notebook_only_width {
        margin-right: 210px;
      }
      @include nbpp {
        margin-right: 20px;
        width: 400px;
        height: 400px;
      }
      .reservation-about_animations-border {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-grey;
        width: 90%;
        height: 90%;

        .reservation-about_animations-background {
          background-image: url('/assets/blonde-girl.webp');
          background-repeat: no-repeat;
          background-size: contain;
          width: 95%;
          height: 95%;
          z-index: -1;
        }
      }

      .reservation-about_animations-title {
        position: absolute;
        margin-top: 100%;
        @include mobile {
          margin-top: 330px;
        }
        @include notebook_only_width {
          margin-top: 330px;
        }
        @include nbpp {
          margin-top: 400px;

        }
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include notebook_only_width {
    align-items: flex-start;
  }
}


.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 5px;
  @include nbpp {
    font-size: 2rem;
  }
}

.button-reservation {
  z-index: 0;
  button {
    background: linear-gradient(150deg, $color-lightBlue 0%, #a079dd 74%);
    border: none;
  }
}
