.header {
  &__top {
    &__background__contact {
      height: 100vw;
      @include mobile-mini-plus {
        height: 90vw;
      }
      @include mobile {
        height: 80vw;
      }
      @include tablet {
        height: 70vw;
      }

      @include nbpp {
        height: 70vw;
        max-height: 1200px;
      }
    }

    &__container__contact {
      &__image {
        top: -50px;
        @include mobile-mini {
          top: -100px;
        }
        @include notebook_only_width {
          top: 100px;
        }
        @include tablet{
          width: 1800px;
          top: -50px;
        }
        @include max {
          max-width: 3000px;
          top: -130px;
          width: 1800px;
        }
        @media (min-width: 2500px) {
          top: -150px;
          width: 2000px;
        }
      }
    }
  }
}

.header__central__contact__text {
  position: absolute;
  top: 100vw;
  left: 88px;

  @include mobile-mini-plus {
    top: 470px;
    left: 33px;
  }
  @include tablet {;
    left: 20vw;
  }
  @include notebook_only_width {
    width: 1300px;
    left: -6vw;
    top: 20vw;
  }
  @media (min-width: 1900px) {
    left: 10vw;
    top: 25vw;
  }

  h1 {
    color: #FFFFFF;
    font-size: 13vw;
    margin-bottom: 30px;
    font-weight: normal;
    @include mobile-mini-minus {
      font-size: 13vw
    }
    @include tablet {
      font-size: 10rem;
    }
    @include nbpp {
      font-size: 12rem;
    }
    @include max {
      font-size: 15rem;
    }
  }
}
