.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 80vw;
  margin-bottom: 25px;
  @include mobile-mini-minus {
    margin-top: 50vw;
  }
  @include mobile-mini-plus {
    margin-top: calc(100% - (100vw - 400px) / 0.8);
  }
  @include tablet {
    margin-top: 30vw;
    height: auto;
  }
  @include notebook_only_width {
    margin-bottom: 100px;
    margin-top: calc(100% - (100vw - 800px) / 0.75);
  }
  @media (min-width: 5000px) {
    margin-top: calc(100% - (100vw - 1600px) / 0.8);
  }
  @media (min-width: 6000px) {
    margin-top: calc(100% - (100vw - 1800px) / 0.8);
  }

  &-phone, &-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50px;
    font-size: 4vw;
    margin-left: 50px;
    z-index: 1;
    font-weight: bold;
    background-color: white;
    @include tablet {
      font-size: 3rem;
    }
    @include notebook_only_width {
      font-size: 4rem;
    }
    svg {
      margin: 0 30px;
      font-size: 9vw;
      @include mobile-mini-plus {
        font-size: 7vw;
      }
      @include tablet {
        font-size: 4rem;
      }
      @include notebook_only_width {
        font-size: 6rem;
      }
    }
  }

  &-phone {
    width: 70vw;
    height: 70px;
    border: 2px solid $color-pink;
    margin-left: 60px;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    @include mobile-mini-plus {
      width: 70vw;
      height: 110px;
    }
    @include tablet {
      width: 600px;
      height: 80px;
    }
    @include notebook_only_width {
      margin-left: 150px;
      width: 600px;
      height: 110px;
    }
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
    svg {
      color: $color-pink;
    }
  }

  &-mail {
    width: 80vw;
    height: 70px;
    border: 2px solid $color-lightBlue;
    margin-left: -40px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
    svg {
      color: $color-lightBlue;
    }
    @include mobile-mini-plus {
      width: 70vw;
      height: 110px;
    }
    @include tablet {
      width: 600px;
      height: 80px;
    }
    @include notebook_only_width {
      margin-bottom: 100px;
      width: 700px;
      height: 110px;
    }
  }

  .button-contact {
    z-index: 2;
    margin-top: 50px;
    background-image: linear-gradient(45deg, rgb(67, 95, 221) 0%, rgb(67, 95, 221) 22%, rgb(80, 115, 203) 22%, rgb(80, 115, 203) 48%, rgb(92, 135, 185) 48%, rgb(92, 135, 185) 73%, rgb(105, 156, 167) 73%, rgb(105, 156, 167) 77%, rgb(118, 176, 149) 77%, rgb(118, 176, 149) 87%, rgb(130, 196, 131) 87%, rgb(130, 196, 131) 89%, rgb(143, 216, 113) 89%, rgb(143, 216, 113) 100%), linear-gradient(90deg, rgb(67, 95, 221) 0%, rgb(67, 95, 221) 22%, rgb(80, 115, 203) 22%, rgb(80, 115, 203) 48%, rgb(92, 135, 185) 48%, rgb(92, 135, 185) 73%, rgb(105, 156, 167) 73%, rgb(105, 156, 167) 77%, rgb(118, 176, 149) 77%, rgb(118, 176, 149) 87%, rgb(130, 196, 131) 87%, rgb(130, 196, 131) 89%, rgb(143, 216, 113) 89%, rgb(143, 216, 113) 100%), linear-gradient(67.5deg, rgb(67, 95, 221) 0%, rgb(67, 95, 221) 22%, rgb(80, 115, 203) 22%, rgb(80, 115, 203) 48%, rgb(92, 135, 185) 48%, rgb(92, 135, 185) 73%, rgb(105, 156, 167) 73%, rgb(105, 156, 167) 77%, rgb(118, 176, 149) 77%, rgb(118, 176, 149) 87%, rgb(130, 196, 131) 87%, rgb(130, 196, 131) 89%, rgb(143, 216, 113) 89%, rgb(143, 216, 113) 100%), linear-gradient(157.5deg, rgb(67, 95, 221) 0%, rgb(67, 95, 221) 22%, rgb(80, 115, 203) 22%, rgb(80, 115, 203) 48%, rgb(92, 135, 185) 48%, rgb(92, 135, 185) 73%, rgb(105, 156, 167) 73%, rgb(105, 156, 167) 77%, rgb(118, 176, 149) 77%, rgb(118, 176, 149) 87%, rgb(130, 196, 131) 87%, rgb(130, 196, 131) 89%, rgb(143, 216, 113) 89%, rgb(143, 216, 113) 100%), linear-gradient(90deg, rgb(195, 223, 84), rgb(118, 43, 234));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    @include tablet_minHeight {
      font-size: 1.2vw;
    }
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include notebook_only_width {
    margin-top: 50px;
  }
}

.footer-contact-page {
  height: 600px;
  align-items: center;
  justify-content: space-between;
  margin: 1px 50px 50px 50px;
  padding: -5px 0;
  border: 2px solid black;
  border-radius: 80px;
  z-index: 5;
  background: rgba(222, 197, 255, 0.4);

  @include mobile-mini-minus {
    margin: 5px 20px 20px 20px;
  }
  @include mobile-mini-plus {
    margin: 5px 50px 150px 50px;
    padding: 30px 0;
  }
  @include mobile {
    height: 650px;
    padding: 20px 0;
  }
  @include notebook_only_width {
    border: 4px solid black;
    background-image: none;;
    flex-direction: row;
    margin: 100px 0 20px 0;
    width: 1000px;
    height: 400px;
    padding: 0 50px;
  }

  h1 {
    font-size: 9vw;
    @include mobile-mini-plus {
      font-size: 6vw;
    }
    @include tablet {
      margin-bottom: 60px;
      font-size: 5vw;
    }

    @include notebook_only_width {
      text-align: center;
      padding: 30px;
      background: rgba(222, 197, 255, 0.4);
      font-size: 6rem;
      color: black
    }
  }

  .footer-contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    padding: 0 50px;

    .button-footer {
      justify-content: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form input {
      height: 40px;
      width: 60vw;
      border-radius: 20px;
      @include mobile {
        width: 50vw;
      }
      @include tablet_minHeight {
        width: 400px;
        height: 50px;
      }
      @include notebook_only_width {
        height: 40px;
        width: 400px;
      }
    }

    form textarea {
      border-radius: 20px;
      height: 200px;
      width: 100%;
      @include tablet {
        width: 400px;
        height: 200px;
      }
      @include nbpp {
        height: 200px;
        width: 400px;
        margin-bottom: 20px;
      }
    }
  }

  .button-footer-classic-contact {
    @include notebook_only_width {
      background-image: linear-gradient(135deg, rgb(121, 121, 121), rgb(68, 68, 68)), linear-gradient(45deg, rgb(27, 3, 180) 0%, rgb(27, 3, 180) 4%, rgb(62, 25, 181) 4%, rgb(62, 25, 181) 11%, rgb(97, 46, 183) 11%, rgb(97, 46, 183) 18%, rgb(131, 68, 184) 18%, rgb(131, 68, 184) 22%, rgb(166, 89, 186) 22%, rgb(166, 89, 186) 28%, rgb(201, 111, 187) 28%, rgb(201, 111, 187) 100%), linear-gradient(135deg, rgb(27, 3, 180) 0%, rgb(27, 3, 180) 4%, rgb(62, 25, 181) 4%, rgb(62, 25, 181) 11%, rgb(97, 46, 183) 11%, rgb(97, 46, 183) 18%, rgb(131, 68, 184) 18%, rgb(131, 68, 184) 22%, rgb(166, 89, 186) 22%, rgb(166, 89, 186) 28%, rgb(201, 111, 187) 28%, rgb(201, 111, 187) 100%);
      background-blend-mode: overlay, overlay, normal;
    }
  }
}

.footer-banerPhone {
  margin: 0 0 50px 22vw;
  @include mobile {
    margin: 0 0 150px 30vw;
  }

  h1 {
    font-family: $font-primary;
    font-size: 8vw;
    line-height: 60px;
    @include mobile {
      font-size: 5rem;
      line-height: 80px;
    }
    @include notebook_only_width {
      line-height: 80px;
      font-size: 5rem;
      color: black;
    }
  }
}