.header .header-top .header-central-background-gallery {
  height: 100vw;

  @include nbpp {
    height: 70vw;
    width: 100vw;
  }
  @include tablet_minHeight {
    height: 80vw;
  }
  @include notebook_minHeight {
    height: 60vw;
  }
}

.header-central-image-gallery {
  @include max {
    top: -10px;
    width: 2700px;
  }
  @include tablet_minHeight {
    top: -20px;
  }
  @include notebook_minHeight {
    width: 1200px;
    top:  100px;
    left: 65vw;
  }
  @include minHeight_nbpp {
    top: 1vw;
    width: 1400px;
    left: 70vw;
  }
}

.header-text-gallery {
  position: absolute;
  top: 100vw;
  left: 88px;

  @include mobile-mini-plus {
    top: 470px;
    left: 33px;
  }

  @include tablet {;
    left: 20vw;
  }
  @include notebook {

  }
  @include notebook-big-plus {
    left: 11vw;
    top: 50vw;
  }
  @include nbpp {
    left: 20vw;
    top: 25vw;
  }
  @include max {
    width: 1800px;
    left: 15vw;
    top: 18vw;
  }
  @include tablet_minHeight {
    top: 15vw;
  }
  @include notebook_minHeight {
    width: 800px;
    top: 20vw;
  }

  h1 {
    color: #FFFFFF;
    font-size: 15vw;
    margin-bottom: 30px;
    font-weight: normal;
    @include mobile-mini-plus {
    }
    @include mobile-mini-minus {
      font-size: 2rem
    }
    @include tablet {
      font-size: 6rem;
    }
    @include nbpp {
      font-size: 12rem;
    }
    @include max {
      font-size: 15rem;
    }
  }
}
