.gallery {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80vw 10px 20px 10px;
  @include mobile-mini-plus {
    margin: 200px 10px 80px 10px;
  }
  @include notebook_only_width {
    margin: 350px 5px 100px 5px;
  }
  @media (min-width: 3700px) {
    margin-top: calc(100% - (100vw - 1200px) / 0.8);
  }
  @media (min-width: 5000px) {
    margin-top: calc(100% - (100vw - 1000px) / 0.85);
  }

  &-clouds-header {
    position: absolute;
    width: 100%;
    height: 80vw;
    top: 2000px;
    z-index: -10;
    background-image: url('../../public/assets/clouds.webp');
    background-size: cover;
  }
  &-item {
    width: 45vw;
    padding: 15px;
    position: relative;
    z-index: 0;
    @include tablet {
      width: 30vw;
    }
    @include notebook_only_width {
      width: 400px;
      padding: 20px;
    }
    &:hover {
      z-index: 1;
    }
    img {
      width: 100%;
      height: auto;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.2);
        @include notebook_only_width {
          transform: scale(1.5);
        }
      }
    }
  }
  &-banner {
    width: 100vw;
    height: 40vw;
    background-color: $color-pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    z-index: 10;
    @include tablet {
      height: 100px;
    }
    @include notebook_only_width {
      height: 150px;
    }

    p {
      font-family: $font-head;
      font-size: 10vw;
      max-width: 80vw;
      text-align: center;
      font-weight: bold;
      color: $color-main;
      line-height: 12vw;
      animation: pulsate 10s infinite;
      @include tablet {
        font-size: 6rem;
        line-height: 5vw;
      }
      @include notebook_only_width {
        font-size: 8rem;
        line-height: 8rem;
      }
    }
  }
}



.container-gallery {
  display: flex;
  flex-direction: column;
  z-index: 10;
  @include notebook_only_width {
    flex-direction: row;
    justify-content: center;
  }
}
  .form-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
  }
  .form-image-gallery {
    @include notebook_only_width {
      width: 400px;
    }
  }
    .form-image-girl-border {
      width: 60%;
      border: 3px solid $color-grey;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      @include tablet {
        width: 400px;
        border: 6px solid $color-grey;
      }
      img {
        width: 100%;
        padding: 5px;
      }
    }


.gallery-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-bottom: 50px;
  @include nbpp {
    margin-bottom: 100px;
    width: 500px;
  }
  h1 {
    line-height: 10vw;
    text-align: center;
    font-size: 6vw;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 40px;
      font-size: 5rem;
      line-height: 100px;
    }
    @include notebook_only_width {
      margin-top: 50px;
      font-size: 7rem;
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 3vw;
    @include tablet {
      margin-bottom: 40px;
    }
    @include notebook_only_width {
      font-size: 3rem;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: #FF69B4;
  }
  100% {
    transform: scale(1);
  }
}