.header {
  &__top {
    &__background__gallery {
      height: 100vw;

      @include nbpp {
        height: 70vw;
        width: 100vw;
      }
      @include tablet_minHeight {
        height: 80vw;
      }
      @include notebook_only_width {
        max-height: 1200px;
        height: 50vw;
      }
    }

    &__container__gallery {
      &__image {
        @include notebook_only_width {
          top: -120px;
          width: 1800px;
        }
      }
    }
  }
}

.header__central__text__gallery {
  position: absolute;
  top: 100vw;
  left: 88px;

  @include mobile-mini-plus {
    top: 470px;
    left: 33px;
  }

  @include tablet {;
    left: 20vw;
  }
  @include notebook_only_width {
    width: 1800px;
    left: -30vw;
    top: 30vw;
  }
  @media (min-width: 1900px) {
    left: -8vw;
    top: 25vw;
  }
  @media (min-width: 2500px) {
    left: 5vw;
    top: 20vw;
  }

  h1 {
    color: #FFFFFF;
    font-size: 15vw;
    margin-bottom: 30px;
    font-weight: normal;
    @include mobile-mini-minus {
      font-size: 2rem
    }
    @include tablet {
      font-size: 10rem;
    }
    @include notebook_only_width {
      font-size: 15rem;
    }
  }
}
