.header {
  &__top {
    &__background__offer {
      height: 100vw;
      @include tablet {
        height: 800px;
      }
      @include notebook_only_width {
        height: 60vw;
        max-height: 1500px;
        width: 100vw;
      }
    }

    &__container__offer {
      &__image {
        top: -40vw;
        @include mobile {
          top: -35vw;
        }
        @include tablet_minHeight {
          left: 75vw;
          top: -60px;
          width: 1053px;
        }
        @include notebook_only_width {
          top: -250px;
          width: 1350px;
        }
        @media (min-width: 5000px) {
          top: -700px;
        }
      }
    }
  }
}

.header__central__offer__text {
  position: absolute;
  top: 100vw;
  left: 88px;
  @include mobile-mini-minus {
    left: 20px;
  }
  @include mobile-mini-plus {
    top: 470px;
    left: 33px;
  }

  @include tablet {;
    left: 20vw;
  }
  @include notebook_only_width {
    width: 900px;
    left: 15vw;
    top: 18vw;
  }


  h1 {
    color: #FFFFFF;
    font-size: 15vw;
    margin-bottom: 30px;
    font-weight: normal;
    @include mobile-mini-plus {
    }
    @include mobile-mini-minus {
      left: 10px;
      font-size: 4rem
    }
    @include tablet {
      font-size: 10rem;
    }
    @include notebook_only_width {
      font-size: 15rem;
    }
  }
}


.offer {
  width: 100%;
  margin-top: 140vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile-mini-plus {
    margin-top: 40vw;
  }
  @include tablet {
    margin-top: -5vw;
  }
  @include notebook_only_width {
    margin-top: calc(100% - (100vw - 300px) / 0.8);
    margin-left: -500px;
    margin-bottom: 220px;
  }
  @media (min-width: 2000px) {
    margin-bottom: 200px;
  }

  &-content {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    height: 100%;
    background-color: #8bacc0;
    border-radius: 50px;
    z-index: 1;
    @include tablet_minHeight {
      width: 50%;
    }
    @include notebook_only_width {
      width: 900px;
    }

    &-text {
      padding: 12px;
      font-size: 1.5rem;
      text-align: center;
      font-family: $font-primary;
      line-height: 30px;
      @include mobile-mini {
        font-size: 1.5rem;
      }
      @include mobile-mini-plus {
        line-height: 40px;
      }
      @include mobile {
        font-size: 2rem;
      }
      @include tablet_minHeight {
        line-height: 50px;
        font-size: 1.5vw;
      }
      @include notebook_only_width {
        padding: 30px;
        font-size: 2.5rem;
      }
    }
  }
}

.button-offer {
  margin-bottom: 50px;
  z-index: 5;
}
