.offer-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  h2 {
    font-family: $font-alt;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #8151e2;
    margin: 25px 0;
    z-index: 1;
    @include tablet {
      font-size: 4vw;
    }
    @include nbpp {
      font-size: 6rem;
      margin-bottom: 150px;
    }
    @include max {
      font-size: 9rem;
    }
    @include notebook_minHeight {
      font-size: 3rem;
    }
  }

  .offer-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #a079dd;
    width: 90%;
    margin: 20px;
    border-radius: 50px;
    height: 100%;
    padding: 50px 0;
    max-width: 2000px;
    z-index: 6;
    @include tablet {
      flex-wrap: wrap;
    }
    @include notebook_only_width {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 1300px;
      padding: 20px 0;
    }
    @include notebook_minHeight {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 800px;
      padding: 20px 0;
      margin: 20px 0;
      width: 90%;
    }
    @include nbpp {
      height: 1400px;
      margin: 100px 0 150px 0;
    }

    .offer-list-section-options {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }
      @include notebook_only_width {
        height: 100%;
        width: 30%;
        flex-direction: column;
        align-items: flex-start;
      }
      @include nbpp {
        width: 40%;
      }

      p {
        width: 90%;
        position: relative;
        margin: 10px;
        border: 3px solid #8151e2;
        padding: 15px 30px;
        border-radius: 50px;
        background-color: #8151e2;
        color: white;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        overflow: hidden;
        z-index: 1;
        @include tablet {
          width: 40%;
          font-size: 1.5rem;
        }
        @include notebook_only_width {
          margin: 20px 0;
          width: 100%;
          font-size: 2rem;
        }
        @include notebook_minHeight {
          margin: 20px 0;
          width: 100%;
          font-size: 1rem;
        }
        @include nbpp {
          padding: 20px 50px;
          margin: 30px 0;
          width: 100%;
          font-size: 3rem;
          line-height: 60px;

        }

        &:after {
          content: "";
          position: absolute;
          top: -3px;
          left: -3px;
          right: -3px;
          bottom: -3px;
          z-index: -2;
          background: linear-gradient(90deg, $color-main-blue 0%, $color-lightBlue 100%);
          border-radius: 50px;
          transition: transform 0.5s;
          transform: scale(1);
        }

        &:hover {
          color: #8151e2;
          background: transparent;

          &:before {
            transform: scale(1);
            z-index: -3;

          }

          &:after {
            transform: scale(1.2);

          }
        }
      }
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      }
      70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }

    .offer-list-section-option {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include notebook_only_width {
        width: 50%;
      }

      .offer-list-section-header {
        margin-top: 50px;
        font-size: 1.4rem;
        text-align: center;
        font-family: $font-alt;
        font-weight: bold;
        color: white;
        @include mobile {
          font-size: 2rem;
        }
        @include tablet {
          font-size: 4vw;
        }
        @include notebook_only_width {
          font-size: 4rem;
          margin: 0 0 30px 0;
        }
        @include notebook_minHeight {
          font-size: 2rem;
          margin: 0 0 30px 0;
        }
        @include nbpp {
          font-size: 5rem;
        }

      }

      .offer-list-section-photo {
        width: 90%;
        border-radius: 60px;
        margin: 30px;
        border: 2px solid $color-lightBlue;

        @include mobile {
          width: 70%;
        }
        @include tablet {
          width: 50%;
        }
        @include notebook_only_width {
          margin: 10px;
          border-radius: 100px;
          width: 500px;
        }
        @include notebook_minHeight {
          margin: 10px;
          border-radius: 100px;
          width: 400px;
        }
        @include nbpp {
          width: 800px;
        }
      }


      .offer-list-section-text {
        font-size: 1rem;
        text-align: center;
        line-height: 20px;
        font-family: $font-alt;
        padding: 30px 50px;
        @include tablet {
          width: 80%;
          font-size: 3vw;
          line-height: 50px;
          padding: 4vw 50px;
        }
        @include notebook_only_width {
          width: 600px;
          font-size: 2rem;
          line-height: 50px;
          padding: 30px 50px;
        }
        @include notebook_minHeight {
          font-size: 1.2rem;
          margin: 10px;
          border-radius: 100px;
          width: 100%;
        }
        @include nbpp {
          width: 750px;
          padding: 0;
          margin: 60px 10px;
          font-size: 2rem;
        }
      }
    }

    .offer-list-section-price {
      font-size: 1.5rem;
      text-align: center;
      font-family: $font-alt;
      font-weight: bold;
      color: $color-limon;
      @include tablet {
        font-size: 4vw;
      }
      @include notebook_only_width {
        //border: 1px solid black;
        //border-radius: 40px;
        //padding: 20px 80px;
      }
      @include notebook_minHeight {
        font-size: 3rem;
      }
      @include nbpp {
        font-size: 5rem;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
      }
    }
  }
}

.fadeInDown {
  animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//
//    .offer-list-section-header {
//      font-size: 1.4rem;
//      text-align: center;
//      font-family: $font-alt;
//      font-weight: bold;
//
//      @include tablet {
//        font-size: 3vw;
//      }
//      @include nbpp {
//        border: 1px solid black;
//        border-radius: 40px;
//        padding: 40px;
//        font-size: 4rem;
//      }
//      @include notebook_minHeight {
//        font-size: 2rem;
//      }
//    }
//  }
//}

//.offer-list-birthday {
//  background-color: rgba(0, 0, 0, 0.2);
//  width: 100%;
//  height: 100%;
//  opacity: 0;
//  transform: translateY(-50px);
//  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
//
//  &.visible {
//    opacity: 1;
//    transform: translateY(0);
//  }
//
//  @include notebook_only_width {
//    background-color: rgba(0, 0, 0, 0.0);
//  }
//  @include notebook_minHeight {
//    background-color: rgba(0, 0, 0, 0.2);
//  }
//
//  .offer-list-section-header {
//    color: $color-green;
//  }
//}
//
//.offer-list-communion {
//  opacity: 0;
//  transform: translateY(-50px);
//  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
//
//  &.visible {
//    opacity: 1;
//    transform: translateY(0);
//  }
//
//  .offer-list-section-header {
//    color: $color-blue;
//  }
//
//  @include notebook_minHeight {
//    background-color: rgba(0, 0, 0, 0.2);
//  }
//}
//
//.offer-list-christening {
//  background-color: rgba(0, 0, 0, 0.2);
//  width: 100%;
//  height: 100%;
//  opacity: 0;
//  transform: translateY(-50px);
//  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
//
//  &.visible {
//    opacity: 1;
//    transform: translateY(0);
//  }
//
//  @include notebook_only_width {
//    background-color: rgba(0, 0, 0, 0.0);
//  }
//
//  .offer-list-section-header {
//    color: $color-yellow;
//  }
//}
//
//.offer-list {
//  .offer-list-family {
//    margin: 20px 0 0 0;
//    opacity: 0;
//    transform: translateY(-50px);
//    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
//
//    &.visible {
//      opacity: 1;
//      transform: translateY(0);
//    }
//
//    @include max {
//    }
//
//    .offer-list-section-header {
//      color: $color-bordo;
//    }

//.offer-list-section-photo {
//  width: 40vw;
//  @include notebook_only_width {
//    width: 400px;
//  }
//  @include notebook_minHeight {
//    width: 300px
//  }
//  @include nbpp {
//    width: 600px;
//  }
//  @include max {
//    border-radius: 100px;
//    width: 600px
//  }
//}
//  }
//}
//.offer-list {
//  .offer-list-wedding {
//    margin: 40px 0;
//    background-color: rgba(0, 0, 0, 0.2);
//    height: 90vw;
//    opacity: 0;
//    transform: translateY(-50px);
//    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
//
//    &.visible {
//      opacity: 1;
//      transform: translateY(0);
//    }
//
//    @include notebook_minHeight {
//      margin: 0 0;
//      height: 45vw;
//    }
//    @include minHeight_notebookBig {
//      margin: 0 0;
//      height: 40vw;
//    }
//    @include nbpp {
//      background-color: rgba(0, 0, 0, 0.0);
//      height: auto;
//    }
//
//    @include notebook_minHeight {
//      background-color: rgba(0, 0, 0, 0.2);
//      height: 40vw;
//    }
//    @include minHeight_nbpp {
//      background-color: rgba(0, 0, 0, 0.2);
//      height: 55vw;
//    }
//
//    .offer-list-section-photo {
//      width: 40vw;
//      @include notebook_minHeight {
//        width: 300px;
//      }
//      @include nbpp {
//        width: 600px;
//      }
//    }
//
//    .offer-list-section-header {
//      color: $color-lightBlue;
//    }
//  }
//}

.offer-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  .offer-info-price {
    width: 80vw;
    height: 25vw;
    background-color: $color-pink;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid $color-grey;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    @include mobile {
      height: 200px;
    }
    @include notebook_only_width {
      margin: 150px 0;
      width: 1200px;
      height: 300px;
    }
    @include nbpp {
      width: 1800px;
      height: 300px;
    }
    @include notebook_minHeight {
      margin: 150px 0;
      width: 1000px;
      height: 300px;
    }

    .offer-info-price-number {
      color: $color-limon;
      font-weight: bold;
      font-size: 8vw;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 5%;
      border-radius: 70px;
      padding: 30px;
      border: 0.3px solid $color-grey;
      @include mobile {
        padding: 60px;
        font-size: 6vw;
      }
      @include notebook_only_width {
        font-size: 7rem;
        padding: 90px;
      }
      @include nbpp {
        font-size: 9rem;
      }
      @include tablet_minHeight {
        font-size: 5rem;
      }
    }
  }

  .curve-line-left {
    background-image: url('../../public/assets/curve-left.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    position: absolute;
    width: 10vw;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -20;
    overflow: hidden;
  }

  .curve-line-right {
    background-image: url('../../public/assets/curve-right.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    position: absolute;
    width: 10vw;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    z-index: -20;
    overflow: hidden;
  }

  .offer-info-package {
    width: 80vw;
    height: 100%;
    padding: 20px 20px 0 20px;
    background: linear-gradient(180deg, rgba(79, 170, 197, 1) 0%, rgba(200, 83, 194, 1) 100%);
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    @include tablet {
      width: 900px;
    }
    @include notebook_only_width {
      width: 1100px;
    }
    @include tablet_minHeight {
      width: 600px;
    }
    @include minHeight_nbpp {
      width: 600px;
      height: 100%;
    }

    h3 {
      text-align: center;
      padding: 30px;
      font-weight: bold;
      font-size: 4vw;
      @include mobile {
        font-size: 4.5vw;
        padding: 60px;
      }
      @include tablet {
        font-size: 5vw;
        padding: 80px 5px;
      }
      @include notebook_only_width {
        font-size: 5rem;
      }
      @include tablet_minHeight {
        font-size: 2rem;
      }
    }

    .offer-info-package-list {
      margin-bottom: 50px;

      ul {
        list-style: none;
        padding-left: 0;

        li {
          position: relative;
          padding-left: 1.2rem;
          margin-bottom: 0.9rem;
          @include mobile {
            font-size: 2rem;
            line-height: 70px;
          }
          @include tablet {
            font-size: 3rem;
          }
          @include tablet_minHeight {
            font-size: 1.5rem;
            line-height: 30px;
          }
          @include minHeight_nbpp {
            font-size: 2rem;
            line-height: 50px;
          }

          &::before {
            content: "•";
            position: absolute;
            left: 0;
            color: $color-limon;
            font-size: 1.5rem;
            @include mobile {
              left: 10px;
              font-size: 3rem;
              line-height: 70px;
              @include notebook_only_width {
                left: 80px;
                font-size: 5rem;
              }
              @include tablet_minHeight {
                left: 10px;
                font-size: 3rem;
                line-height: 30px;
              }
              @include minHeight_nbpp {
                font-size: 2rem;
                line-height: 50px;
              }
            }
          }
        }
      }
    }
  }
}
