.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-classic {
  display: inline-block;
  background: linear-gradient(150deg, #b840f5 0%, #a079dd 74%);
  color: #ffffff;
  text-align: center;
  padding: 5px 20px;
  font-size: 0.5rem;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: $font-poppins;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 5;
  &:hover {
    transform: scale(1.2);
  }
  @include mobile-mini {
    padding: 10px 40px;
    font-size: 2vw;
  }
  @include tablet {
    padding: 15px 55px;
    font-size: 2vw;
  }
  @include notebook {
    padding: 20px 60px;
    font-size: 2rem;
  }
  @include notebook_minHeight {
    padding: 10px 30px;
    font-size: 1rem;
  }
  @include max {
    padding: 30px 80px;
    font-size: 2.5rem;
    border-radius: 30px;
  }
}
