.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-classic {
  display: inline-block;
  background: linear-gradient(150deg, #b840f5 0%, #a079dd 74%);
  color: #ffffff;
  font-weight: bold;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}