.footer {
  position: relative;
  @include notebook {
  }
  @include tablet_minHeight {
    margin-top: 190px;
  }
}

.footer-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 60px;
  @include mobile-mini-plus {
    align-items: center;
  }
  @include tablet {
    align-items: flex-start;
    padding-left: 20px;
  }
  @include notebook {
    padding-left: 80px;
  }
  @media (min-width: 2600px) {
    padding-left: 10vw;
  }
  @media (min-width: 3100px){
    padding-bottom: 40px;
    padding-left: 20vw;
  }
  @include tablet_minHeight {
    margin-bottom: 150px;
  }
  form {
    @include mobile-mini {
      display: flex;
      flex-direction: column;
    }
  }

  h1 {
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 30px;
    @include tablet {
      font-size: 3rem;
    }
    @include notebook {
      font-size: 5rem;
    }
  }

  form {
    input {
      margin-bottom: 25px;
      border: 1px solid black;
      border-radius: 10px;
      height: 20px;
      width: 450px;
      @include mobile-mini-minus {
        height: 30px;
        width: 200px;
      }
      @include tablet {
        height: 30px;
        width: 30vw;
      }
      @include notebook {
        height: 2vw;
        width: 20vw;
      }
      @include tablet_minHeight {
        height: 30px;
        width: 300px;
      }
    }

    textarea {
      border: 1px solid black;
      border-radius: 10px;
      height: 80px;
      width: 450px;
      @include mobile-mini-minus {
        height: 80px;
        width: 200px;
      }
      @include tablet {
        height: 100px;
        width: 60vw;
      }
      @include notebook {
        height: 5vw;
        width: 40vw;
      }
      @include tablet_minHeight {
        height: 100px;
        width: 800px;
      }
    }
  }

  .button-footer {
    justify-content: flex-end;

    .button-footer-classic {
      border: none;
      @include tablet {
        padding: 10px 55px;
        font-size: 1rem;
        font-weight: bold;
        @include notebook {
          padding: 15px 80px;
          font-size: 2rem;
        }
      }
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: #999999;
  font-size: 11px;
  font-style: italic;
  opacity: 1;
  padding-top: 5px;
  @include notebook {
    font-size: 1.5rem;
  }
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #cccccc;
}

.success-message {
  color: green;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid green;
  border-radius: 5px;
}

.footer-background {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .footer-image {
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;

    @include notebook {
      top: 10px;
    }
    @include notebook {
      justify-content: center
    }

    &-logo {
      position: relative;
      width: 30%;
      margin-top: 10px;
      @include tablet {
        width: 15%;
        margin-left: -30px;
        margin-top: -90px;
      }
      @include notebook {
        width: 600px;
        margin-left: -30px;
        margin-top: -2vw;
      }
    }

    &-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 4vw;
      text-align: center;
      font-weight: bold;
      margin-bottom: -35px;
      font-family: $font-base;
      @include mobile-mini-plus {
        font-size: 1.5rem;
        margin-bottom: -50px;
      }
      @include tablet {
        margin-bottom: 3px;
      }
      @include notebook {
        margin-bottom: -200px;
        font-size: 2rem;
        width: 800px;
        height: 150px;
      }
      @include nbpp {

        font-size: 3rem;
        width: 1300px;
        height: 150px;
      }
      //@include max {
      //  font-size: 2rem;
      //  width: 800px;
      //  height: 150px;
      //}

      ul {
        @include notebook {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          li {
            padding: 5px 5px;
          }
        }

        li {

          @include mobile-mini {
            padding: 2px 0;
            @include mobile-mini-plus {
              padding: 4px 0;
            }
            @include tablet {
              padding: 6px 10px;
            }
          }
        }
        Link {

        }
      }
    }

    .footer-menu-link {
      cursor: pointer;
      color: white;
    }

    .blue-link {
      color: aqua;
    }

    &-contact {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 4vw;
      margin-left: 10px;
      margin-bottom: -35px;
      @include mobile-mini-plus {
        font-size: 1.5rem;
        margin-bottom: -50px;
      }
      @include tablet {
        margin-bottom: -40px;
      }
      @include notebook {
        font-size: 4rem;
      }
      @include nbpp {

      }

      .contact-info {
        display: flex;
        color: rgba(255, 255, 255, 0.5);;
      }


      &-h2 {
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 2.5vw;
        padding: 4px 4px;
        color: white;
        @include tablet {
          font-size: 1.3rem;
        }
        @include notebook {
          font-size: 3rem;
        }
      }
    }

    &-media {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      @include mobile-mini-plus {
        margin-left: 20px;
        margin-bottom: -50px;
      }
      @include tablet {
        margin-bottom: 3px;
      }

      svg {
        font-size: 7vw;
        padding: 5px 0;
        @include tablet {
          font-size: 3rem;
        }
        @include notebook {
          font-size: 6rem;
        }
      }
    }
  }
  .footer-content-menu a {
    z-index: 50;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}
