.home_offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @include mobile-mini {
    margin-top: 150px;
  }
  @include notebook_only_width {
    margin-bottom: 100px;

  }
  @include notebook_only_width {
    .home_carousel_button {
      .button-classic {
        font-size: 3rem;
        border-radius: 30px;
      }
    }
  }

  &_title {
    color: darkcyan;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 8vw;
    text-align: center;
    @include mobile-mini {
      font-size: 3rem;
    }
    @include tablet {
      font-size: 5rem;
    }
    @include notebook_only_width {
      font-size: 6rem;
      margin-bottom: 80px;
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100vw;
    @include mobile-mini {
      width: 90%;
      height: 100%;
    }
    @include mobile {
      height: 100%;
    }
    @include notebook_only_width {
      width: 900px;
    }

    &_square {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: 1px solid $color-grey;
      border-radius: 50px;
      width: 30vw;
      height: 25vw;
      margin: 10px;
      padding: 10px;
      font-weight: bold;
      background-color: #8bacc0;

      @include mobile-mini {
        width: 45%;
      }

      @include mobile {
        width: 200px;
        height: 250px;
        margin: 40px;
        z-index: 10;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        &:hover {
          transform: scale(1.2);
        }
      }

      @include notebook_only_width {
        width: 200px;
        height: 220px;
      }

      div {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        width: 60%;
        height: 70%;
        object-fit: cover;
        @include mobile-mini-plus {
          height: 60%;
        }
        @include tablet {
          height: 40%;
        }
        img {
          align-self: center;
        }
      }

      svg {
        font-size: 8vw;
        @include mobile {
          font-size: 8rem;
        }
        @include notebook_only_width {
          font-size: 9rem;
        }
      }

      h2 {
        font-size: 4vw;
        margin-top: 10px;
        color: white;
        @include mobile {
          font-size: 3rem;
        }
        @include notebook_only_width {
          font-size: 4rem;
        }
      }
    }

    &_birthday {
      background-color: #FAD648;
    }

    &_christening {
      background-color: #8bacc0;

      div {
        background-image: url('../public/assets/icon/icon_christening.webp');
      }
    }

    &_wedding {
      background-color: darksalmon;

      div {
        background-image: url('../public/assets/icon/icon_wedding.webp');
      }
    }

    &_family {
      background-color: burlywood;

      div {
        background-image: url('../public/assets/icon/icon_house.webp');
      }
    }

    &_other {
      background-color: darkcyan;

      div {
        background-image: url('../public/assets/icon/icon_other.webp');
      }
    }
  }
  .home_offer_button {
    margin-top: 20px;
  }
}
