.color-line {
  position: absolute;
  overflow: hidden;
  top: 20px;
  //left: 20px;
  //top: 2320px;
  //left: 208px;
  width: 100vw;
  z-index: -10;
  //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  img {
    width: 100vw;
    height: auto;
    overflow: hidden;

    @include notebook {
      width: 150vw;
    }
    @media (min-width: 3500px){
      width: 4000px;
    }
    @media (min-width: 4460px) {
      //width: 3200px;
    }
  }
  @include mobile-mini {
    //top: 1800px;
  }
  @include mobile{
    //left: -300px;
    //top: -200px;
  }
  @include tablet{
    //left: -200px;
    //top: -200px;
  }
  @include max {
    rotate: -40deg;
  }
  @media (min-width: 3500px){
    left: -70vw;
    top: -1300px;
    transform: scaleX(-1);
    rotate: 325deg;
  }
  @media (min-width: 4460px){
    left: -70vw;
    rotate: 332deg;
  }
}
.home-about_me {
  position: relative;
  margin: 60vw 30px 0 30px;
  @include mobile-mini {
    margin:  60vw 0 30px;
  }
  @include mobile-mini-plus {
    margin: 100px 30px 0 30px;
  }
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin: -65vw 0 0 0;
  }
  @include tablet {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    margin: 14vw 0 0 0;
  }
  @include notebook {
    margin: 300px 0 0 0;
  }


  .home-about-me-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8bacc0;
    border-radius: 20px;
    z-index: -1;
    @include mobile {
      position: absolute;
      width: 473px;
      height: 750px;
      top: 75%;
      left: 51%;
      transform: translate(-50%, -50%);
    }
    @include tablet {
      display: none;
    }
  }

  .home-about_me-content-movie {
    position: relative;
    height: 150vw;
    margin: 40px 30px;
    width: calc(100% - 60px);
    @include mobile {
      position: static;
      width: 400px;
      height: auto;
      margin: 0;
      top: 50%;
      left: 49%;
      transform: translate(-50%, -50%);
    }
    @include tablet {
      position: relative;
      width: 37vw;
      height: 57vw;
      background: #8bacc0;
      border-radius: 20px;
      z-index: -1;
      display: flex;
      margin-left: 100px;
      transform: translate(0, 0);
      top: 0;
      left: 0;
    }
    @include nbpp {
      width: 700px;
      height: 1200px;
      margin-left: 0;
    }

    .home-header-video {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      @include mobile {
        width: 400px;
        top: 185px;
        left: 210px;
      }
      @include tablet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vw;
        height: auto;
      }
      @include nbpp {
        width: 600px;
        height: auto;
      }
    }

    video {
      width: 100%;
      height: auto;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
    }

    .home-header-image {
      position: absolute;
      width: 60vw;
      top: -2%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      @include mobile {
        top: 150px;
        left: 405px;
        width: 20vw;
        display: flex;
        justify-content: center;
      }
      @include tablet {
        //width: 300px;
        top: 0;
        left: 50%;
      }
      @include nbpp {
        width: 600px;
        height: auto;
      }
    }
  }

  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

;
.home-about_me-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mobile {
    position: static;
    z-index: 1;
    margin-top: 550px;
    margin-bottom: 200px;
    order: 1;
  }
  @include tablet {
    position: static;
    margin-bottom: 0;
    margin-top: 0;
    width: 50vw;
    font-size: 2vw;
  }
  @include notebook-big {
    font-size: 2.5rem;
    width: 1100px;
  }

  p {
    margin: 30px 50px;
    text-align: center;
    @include tablet {
      margin: 30px 20px;
    }
  }
}

.home-about_me-logo {
  width: 50vw;
  @include tablet {
    width: 30vw;
  }
  @include nbpp {
    width: 700px;
  }
}

;

.home-back {
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
  @include mobile-mini {
    display: flex;
    justify-content: center;
  }
  @include notebook {
    //position: absolute;
    //margin-bottom: 300px;
  }

  .home-back-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 79%;
    background-color: #16121d91;
    z-index: 2;
    @include mobile-mini {
      width: 100%;
      height: 100%;
    }
  }

  .home-word-hands {
    position: relative;
    width: 200%;
    max-width: 2000px;
    left: 60%;
    top: -28vw;
    transform: translateX(-50%);
    z-index: 1;
    @include mobile-mini {
      top: 0;
      left: 0;
      transform: translateX(0%);
      width: calc(200% - (100vw - 450px) * 2);
    }
    @include mobile {
      top: 0;
      left: 0;
      transform: translateX(0%);
      width: calc(200% - (100vw - 450px) * 0.5);
    }
    @include notebook {
      top: 0;
      left: 0;
      transform: translateX(0%);
      width: calc(200% - (100vw - 450px) * 0.5);
    }
  }

  .home-word-title {
    position: absolute;
    width: 80vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #ffffff;
    font-family: $font-head;
    animation: pulsate 10s infinite;
    text-indent: 50px;

    @include mobile-mini {
      top: 50%;
    }
    h2 {
      font-size: 12vw;
      text-align: center;
      font-weight: bold;
      text-indent: 50px;

      @include mobile {
        font-size: 6rem;
      }
      @include notebook {
        font-size: 10rem;
      }
    }
  }
}
@keyframes pulsate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    color: #FF69B4;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}