.home_offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-bottom: 30px;

  @include mobile-mini {
    margin-top: 150px;
  }
  @include notebook {
    //margin-top: 1500px;
    margin-bottom: 100px;

  }
  @include notebook_minHeight {
    margin-bottom: 100px;
  }
  @include notebook {
    .home_carousel_button {
      .button-classic {
        font-size: 3rem;
        border-radius: 30px;
        @include notebook_minHeight {
          font-size: 2rem;
        }
      }
    }
  }

  .home_offer_title {
    color: #8151e2;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 8vw;
    text-align: center;
    @include mobile-mini {
      font-size: 3rem;
      @include notebook {
        font-size: 6rem;
        margin-bottom: 80px;
        color: darkcyan;
      }
      @include notebook_minHeight {
        font-size: 4rem;
      }
    }
  }

  .home_offer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100vw;
    @include mobile-mini {
      width: 90%;
      height: 100%;
    }
    @include mobile {
      //max-width: 900px;
      height: 100%;
    }
    @include notebook {
      width: 1200px;
    }
    @include notebook_minHeight {
      height: 50vh;
      margin-bottom: 0;
    }

    .home_offer_square {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: 1px solid $color-grey;
      border-radius: 50px;
      width: 30vw;
      height: 20vw;
      margin: 10px;
      font-weight: bold;
      background-color: #8bacc0;
      @include mobile-mini {
        width: 130px;
        height: 12vh;
      }
      @include mobile-mini-plus {
        width: 100px;
        height: 15vh;
      }
      @include notebook_minHeight {
        width: 20%;
        height: 10vw;
      }
      svg {
        font-size: 8vw;
        @include mobile {
          font-size: 6rem;
        }
        @include notebook {
          font-size: 9rem;
        }
        @include notebook_minHeight {
          font-size: 8vh;
        }
      }

      h2 {
        font-size: 4vw;
        margin-top: 10px;
        color: white;
        @include mobile {
          font-size: 2rem;
        }
        @include notebook {
          font-size: 4rem;
        }
        @include notebook_minHeight {
          font-size: 3vh;
        }
      }

      @include mobile-mini {
        width: 45%;
      }
      @include mobile {
        width: 200px;
        height: 250px;
        margin: 40px;
        z-index: 10;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        &:hover {
          transform: scale(1.2);
        }
      }
      @include notebook {
        width: 400px;
        height: 450px;
      }
      @include notebook_minHeight {
        width: 20vh;
        height: 20vh;
      }
    }

    .home_offer_square_birthday {
      background-color: #FAD648;
    }

    .home_offer_square_christening {
      background-color: #8bacc0;
    }

    .home_offer_square_wedding {
      background-color: darksalmon;
    }

    .home_offer_square_family {
      background-color: burlywood;
    }

    .home_offer_square_other {
      background-color: darkcyan;
    }
  }

  .home_offer_button {
    margin-top: 20px;
  }
}