.container {
  max-width: 2000px;
  display: contents;

  @include mobile-mini-minus {
    width: 110vw;
  }
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  @include max {
    left: 50%;
    transform: translateX(-50%);
  }

  .header-image-top {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 150vw;
    z-index: -10;
    transform: translateX(-50%);
    @media (min-width: 2300px) {
      height: 150vw;
    }
  }


  .header-top {
    width: 100%;
    @include nbpp {
    }

    .header-top-content {
      position: absolute;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include nbpp {
      }
    }
  }

  .header-image {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100vw;
    @include nbpp {
      left: 50%;
      transform: translateX(-50%);
    }
    @include max {
      transform: translateX(-50%);
      max-height: 4000px;
    }
  }

  .header-logo {
    position: absolute;
    width: 20%;
    margin-top: 10px;
    cursor: pointer;
    z-index: 10;
    @include max {
      left: 50px;
      width: 500px;
    }
  }
}

.header-central {
  width: 100%;
  height: 30vh;
  text-align: center;
  padding: 40vw 10vw;
  z-index: -7;
  @include mobile-mini-plus {
    top: 50px;
    left: 50px;
    z-index: 0;
  }
  @include tablet {
    position: relative;
    top: 50px;
    left: 0px;
    z-index: 0;
    padding-top: 300px;
  }
  @include notebook {
    height: 800px;
  }
  @include nbpp {
    padding: 600px 400px;
  }
  @include max {
    padding: 20vw 400px;
  }
  @media (min-width: 5400px) {
    padding: 1000px 400px;
  }

  .header-text {

    @include mobile-mini-plus {
      position: absolute;
      height: 200px;
      width: 650px;
      font-size: 2px;
      top: 300px;
      left: -10px;
    }

    @include tablet {;
      left: 17vw;
      top: 15vw;
      width: 800px;
    }
    @include notebook {
      position: absolute;
      left: 320px;
      top: 200px;
    }
    @include notebook-big-plus {
      position: absolute;
      //width: 1200px;
      left: 31vw;
      top: 15vw;
    }
    @include nbpp {

    }
    @include max {
      width: 1800px;
      left: 15vw;
      top: 18vw;
    }

    h1 {
      font-size: 9vw;
      margin-bottom: 30px;
      font-weight: normal;
      @include mobile-mini-plus {
        font-size: 3rem;
      }
      @include mobile-mini-minus {
        font-size: 2rem
      }
      @include tablet {
        font-size: 6vw;
      }
      @include nbpp {
        font-size: 8rem;
      }
      @include tablet_minHeight {
        font-size: 4rem;
      }
    }

    p {
      font-size: 4vw;
      @include mobile-mini-plus {
        font-size: 2vw;
      }
      @include notebook {
        width: 1000px;
        font-size: 2vw;
      }
      @include nbpp {
        width: 1000px;
        font-size: 2.4rem;
      }
      @include mobile-mini-minus {
        font-size: 0.9rem
      }
      @include max {
        width: 1400px;
        font-size: 3rem;
      }
      @include tablet_minHeight {
        font-size: 1.5rem;
      }
    }

    color: white;
  }

  .button-header {
    @include mobile-mini-plus {
      margin-right: 100px;
      margin-top: 150px;
    }
    @include mobile {
      margin-right: 80px;
      margin-top: 15vw;
    }
    @include notebook {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include nbpp {
      top: 25vw;
      left: 40vw;
      margin-top: 350px;
    }
    @include max {
      top: 20vw;
      left: 30vw;
      margin-top: 350px;
    }

  }
}

.header-central-image-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  //height: 100%;
  max-height: 2000px;
  z-index: -2;
  overflow: hidden;
  @include tablet_minHeight {
    max-height: 100vw;

  }
  @include max {
    max-height: 4000px;
  }
}

.header-central-background {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -8;
  background: #8bacc0;
  height: 70vw;

  @include mobile-mini-plus {
    height: 650px;
  }
  @include tablet {
    height: 90%;
  }
  @include notebook {
    height: 100%;
  }
  @include notebook-big {
    height: 110%;
  }
  @include nbpp {
    height: 50vw;
    width: 100vw;
  }
  @include max {
    height: 40vw;
    max-height: 2000px;
  }
  @media (max-height: 1300px) and (min-width: 1600px) {
    height: 100%;
  }
}

.header-central-clouds {
  background-image: url('../public/assets/clouds.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vw;
  left: 94vw;
  top: -105vw;
  transform: translateX(-50%);
  z-index: -20;
  overflow: hidden;
  rotate: 315deg;
}

.header-central-image {
  //background-image: url('../public/assets/background-home.png');
  position: relative;
  width: 300%;
  //height: 150%;
  left: 60%;
  top: -15vw;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;

  @include mobile-mini-plus {
    top: -4vw;
    width: calc(200% - (100vw - 450px) * 0.8);
  }
  @include tablet {
    top: -5vw;
    width: 140vw;
    left: 65vw;
  }
  @include notebook {
    //top: -120px;
    //width: 1500px;
    left: 65vw;
  }
  @include nbpp {
    top: 100px;
    width: 100vw;
    left: 70vw;
  }
  @include max {
    width: -20px;
    max-width: 3500px;
    margin-top: 9vw;
    top: -270px;
  }
  @media (min-width: 3400px) {
    width: 80vw;
    max-width: 3500px;
    margin-top: 7vw;
    top: -80px;
  }
  @include tablet_minHeight {
    top: -1vw;
    width: 120vw;
    left: 65vw;
  }
  //@include notebook_minHeight {
  //  top: -2vw;
  //  width: 100vw;
  //  left: 65vw;
  //}
  @include minHeight_max {
    top: -430px;
    width: 100vw;
    left: 65vw;
  }
}

.nav {
  font-family: $font-head;
  z-index: 10;

  @include mobile-mini-plus {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    margin-top: 15px;
    color: white;
  }
  @include tablet {
    font-size: 4vw;
    width: 480px;
  }


    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      top: 50px;
      color: white;
      font-weight: bold;
      text-decoration: none;
      @include mobile-mini-plus {
        justify-content: flex-end;
      }
      @include notebook_only_width {
        justify-content: center;
      }

      li {
        padding: 10px;
        cursor: pointer;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

        &:hover {
          transform: scale(1.2);
        }

        @include notebook-big {
          padding: 25px;
        }
        @include minHeight_notebookBig {
          padding: 10px;
        }

        a {
          &:hover {
            color: $color-limon;
          }
        }
      }
    }

  @include mobile {
    width: 600px;
    //font-size: 2vw;
  }
  @include tablet {
    width: 700px;
    //font-size: 4vw;
  }
  @include notebook {
    width: 800px;
    font-size: 4rem;
  }
  @include notebook-big {
    width: 1000px;
  }
  @include nbpp {
  }
  @include tablet_minHeight {
    width: 550px;
    font-size: 2rem;
  }
  @media (max-height: 1300px) and (min-width: 1600px) {
    width: 32vw;
    font-size: 2rem;
  }
  display: none;
}


.hamburger {
  right: 40px;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 101, 47, .2);
  margin: 40px 30px 0 0;


  @media (min-width: 700px) {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px);
  }

  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: translateY(10px);
  }
}


.activeHamburger {
  position: absolute;
  z-index: 6;
  right: 40px;
  width: 30px;
  border-radius: 5px;
  transform: translateX(-30px);
  background: transparent;
  margin: 40px 0 0 0;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: rotate(45deg) translate(35px, -35px);
  }

  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: rotate(-45deg) translate(35px, 35px);
  }
}


.sidenav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, #b840f5 0%, #a079dd 74%);
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  z-index: 5;

  ul {
    li {
      padding: 20px;
      margin: 10px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease-in-out;
      font-size: 3vw;    }
  }

  @media (min-width: 700px) {
    display: none;
  }

}

.activeSidenav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #b840f5 0%, #a079dd 74%);
  transform: translateX(40%);
  transition: all 0.5s ease-in-out;
  z-index: 5;
  padding: 20px;

  ul {
    li {
      padding: 20px;
      margin: 10px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease-in-out;
      font-size: 3vw;
    }

    li:hover {
      background-color: rgba(255, 255, 255, 0.3);
      transform: scale(1.1);
    }
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    //font-size: 1.2em;
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: #f5f5f5;
  }
}

.back-to-top-button {
  display: none;
  position: fixed;
  font-size: 13px;
  right: 10px;
  bottom: 30vw;
  color: $color-main2;
  padding: 5px;
  border: none;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  @include tablet {
    padding: 10px;
    font-size: 40px;
    right: 20px;
    bottom: 300px;
  }
  @include nbpp {
    font-size: 80px;
    right: 80px;
    bottom: 350px;
  }
}

.back-to-top-button.visible {
  display: block;
}

#back-to-top:hover {
  background-color: $color-lightBlue;
}
