.home-back-wrapper {
  position: relative;
  z-index: 100;
}

.grey-background {
  @include nbpp {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #7d5eae87;
    z-index: -5;
  }
}


.opinion-title {
  text-align: center;
  font-weight: bold;
  color: darkblue;
  margin: 20px 0 10px 0;
  font-size: 9vw;
  font-family: $font-head;
  @include notebook-big {
    font-size: 12rem;
  }
  @include tablet_minHeight {
    font-size: 9vh;
  }
}


.home_carousel-opinion {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile-mini {
    height: 500px;
  }
  @include mobile {
    height: 80vw;
  }
  @include tablet {
    height: 100%;
  }

  .home_opinions_title {
    color: white;
    font-weight: bold;
    margin-bottom: 2vw;
    padding: 4vw 2vw;
    font-size: 5vw;
    @include tablet {
      margin-bottom: 100px;
      padding: 30px 20px;
      font-size: 4rem;
    }
    @include tablet_minHeight {
      margin-bottom: 50px;
      font-size: 3rem;
    }
  }

  .home_carousel-content-opinions {
    max-width: 75vw;
    @include tablet {
      max-width: 1000px;
    }
    @include notebook {
      max-width: 80vw;
    }
    @include nbpp {
      max-width: 1500px;
    }
    //@include minHeight {
    //  max-width: 1000px;
    //}
    .carousel {
      display: flex;
      justify-content: center;
      width: 100%;
      //@include minHeight {
      //  width: 50%;
      //
        .slide {
          align-items: center;
        }
      //}
    }

    .carousel-prev,
    .carousel-next {
      font-size: 6vw;
      color: #8151e2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      @include mobile-mini-minus {
        top: 50%;
      }
      @include nbpp {
        font-size: 6rem;
      }
    }

    .carousel-next {
      right: -5px;
    }

    .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70%;
      @include tablet {
        width: 100%;
        height: 100%;
      }
      @include tablet_minHeight {
        width: 100%;
        height: 90%;
      }
      .carousel-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150vw;
        @include tablet {
          width: 100%;
        }
      }

      img {
        width: 50vw;
        height: auto;
        max-height: 300px;
        @include tablet {
          width: 60vw;
          max-width: 80vw;
          max-height: 500px;
        }
        @include nbpp {
          width: 70%;
          max-width: 100%;
          max-height: 100%;
        }
        @include tablet_minHeight {
          width: 70vh;
          max-width: 100vw;
          max-height: 100vw;
        }
      }

      .carousel-description {
        padding-bottom: 2vw;
        font-size: 3vw;
        text-align: center;
        font-weight: bold;
      }
    ;

      .description-1 {
        color: #FAD648; // Ustaw kolor dla pierwszego opisu
      }

      .description-2 {
        color: cornflowerblue; // Ustaw kolor dla drugiego opisu
      }

      .description-3 {
        color: darksalmon; // Ustaw kolor dla trzeciego opisu
        margin-top: 10vw;
      }
    }
  }
}

.home-back-opinions {
  height: 100vw;
  position: relative;
  max-width: 2000px;
  @include tablet {
    height: 1000px
  }
  @include notebook {
    height: 1300px;
    margin-bottom: 0;
    margin-top: 0;
  }
  @include tablet_minHeight {
    height: 100vh;
  }
  //@include notebook_minHeight {
  //  height: 60vh;
  //}
  //@include minHeight_notebookBig {
  //  height: 50vw;
  //}


  .home-back-overlay-opinions {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    max-width: none;
    @include tablet {
      width: 100%
    }
  }

  .carousel-prev {
    left: 5px;
    z-index: 5;
  }

  .carousel-next {
    right: 5px;
    z-index: 5;
  }

  .home-word-hands {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    z-index: 1;
    object-fit: cover;

    @include mobile-mini {
      //top: 0;
      //left: 0;
      //transform: translateX(0%);
      //width: calc(200% - (100vw - 450px) * 2);
    }
    @include mobile {
      top: 0;
      left: 0;
      transform: translateX(0%);
      width: calc(200% - (100vw - 450px) * 1);
    }
    @media (max-width: 339px) {
      left: 50%;
      width: 400%;
    }
    @include tablet {
      width: calc(200% - (100vw - 450px) * 1);
    }
    @include notebook {
      width: calc(200% - (100vw - 450px) * 0.5);
    }
    @media (max-height: 1300px) {
      height: 100vh;
      max-height: 100vh;
      object-position: center;
    }
    @media (min-width: 4500px) {
      width: 100%;
    }
  }

  .home-word-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #ffffff;

    h2 {
      font-size: 5vw;
      text-align: center;
      font-weight: bold;
      @include tablet {
        font-size: 4rem;
      }
    }
  }

  .control-dots {
    padding-top: 20px;
  }
}
 .control-dots {
  margin-top: 20px;
}

.home_carousel-content .carousel .control-dots .dot {
  width: 4px;
  height: 4px;
  background-color: #8151e2;
  opacity: 1;
  @include mobile {
    width: 8px;
    height: 8px
  }
}

.home_carousel-content .carousel .control-dots .dot.selected {
  width: 4px;
  height: 4px;
  background-color: aqua;
  @include mobile {
    width: 8px;
    height: 8px
  }
}

.home-blonde {
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  max-height: 1500px;
  z-index: -5;
  @include tablet_minHeight {
    height: 80vh;
  }
  .home-blonde-jpg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    @include tablet_minHeight {
      height: 58vw;
    }
    @include minHeight_notebookBig {
      height: 80vh;
    }
  }

  .home-blonde-jpg {
    width: 100%;
    filter: blur(2px);

  }

  .home-blonde-jpg-overlay-title {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 100%;
    color: #ffffff;

    h2 {
      font-size: 6vw;
      text-align: center;
      font-weight: bold;
      font-family: $font-head;

      @include tablet {
        font-size: 5rem;
      }
      @include notebook_only_width {
        line-height: 160px;
        font-size: 10rem;
      }
      @include notebook_minHeight {
        font-size: 6rem;
        line-height: 130px;
      }
    }
  }
}