.home_carousel {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home_carousel_title {
    color: #8151e2;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .home_carousel-content {
    max-width: 75vw;
    margin-bottom: 20px;

    .carousel {
      justify-content: center;
      width: 100%;
    }
    .carousel-prev,
    .carousel-next {
      font-size: 50px;
      color: #8151e2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
    }
    .carousel-next {
      right: -5px;
    }
    .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 110%;
      .carousel-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 380px;
      }
      img {
        width: 40%;
        height: auto;
        max-height: 300px;
      }
      .carousel-description {
        padding-bottom: 50px;
        text-align: center;
        font-weight: bold;
      };
      .description-1 {
        color: #FAD648; // Ustaw kolor dla pierwszego opisu
      }
      .description-2 {
        color: cornflowerblue; // Ustaw kolor dla drugiego opisu
      }
      .description-3 {
        color: darksalmon; // Ustaw kolor dla trzeciego opisu
        margin-top: 95px;
      }
    }
  }
}

.home_carousel-content .carousel .control-dots .dot {
  background-color: #8151e2;
  opacity: 1;
}

.home_carousel-content .carousel .control-dots .dot.selected {
  background-color: aqua;
}

