.color-line {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  width: 100vw;
  height: 3000px;
  z-index: -10;
  @include notebook_only_width {
    height: 2500px;
  }

  div {
    @include notebook_only_width {
      background-image: url('../public/assets/line2.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      height: 100%;
      overflow: hidden;
      width: 80vw;
    }
    @media (min-width: 1500px) {
      width: 2000px;
    }
  }

  @include notebook_only_width {
    rotate: -40deg;
  }
  @media (min-width: 1400px) {
    left: -80vw;
    top: 200px;
    transform: scaleX(-1);
    rotate: 325deg;
  }
  @media (min-width: 2000px) {
    left: -80vw;
    rotate: 332deg;
  }
}

.home-about_me {
  position: relative;
  margin: 60vw 30px 0 30px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  @include mobile-mini {
    margin: 60vw 0 30px;
  }
  @include mobile-mini-plus {
    margin: 100px 30px 0 30px;
  }
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin: -65vw 0 0 0;
  }
  @include tablet {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    margin: 14vw 0 0 0;
  }
  @include notebook_only_width {
    margin: 150px 0 0 0;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .home-about_me-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8bacc0;
    border-radius: 20px;
    z-index: -1;
    @include mobile {
      position: absolute;
      width: 335px;
      height: 590px;
      top: 82%;
      left: 51%;
      transform: translate(-50%, -50%);
    }
    @include tablet {
      display: none;
    }
  }

  &-content-movie {
    position: relative;
    height: 90vw;
    margin: 40px 30px;
    width: calc(100% - 60px);
    @include mobile-mini {
      width: calc(100% - 150px);
      left: 9%;
    }
    @include mobile-mini-plus {
      width: 300px;
      left: 24%;
      height: auto;
    }
    @include mobile {
      position: static;
      width: 350px;
      height: auto;
      margin: 0;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
    }
    @include tablet {
      position: relative;
      width: 37vw;
      height: 57vw;
      background: #8bacc0;
      border-radius: 20px;
      z-index: -1;
      display: flex;
      margin-left: 100px;
      transform: translate(0, 0);
      top: 0;
      left: 0;
    }
    @include notebook_only_width {
      width: 350px;
      height: 580px;
      margin-left: 0;
    }

    .home-header-video {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;

      @include mobile {
        width: 300px;
        top: 185px;
        left: 210px;
      }
      @include tablet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vw;
        height: auto;
      }
      @include notebook_only_width {
        width: 300px;
        height: auto;
      }
    }

    video {
      width: 100%;
      height: auto;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
    }

    &-image {
      position: absolute;
      width: 60vw;
      top: -2%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      @include mobile-mini-plus {
        width: 200px;
      }
      @include mobile {
        top: 150px;
        left: 360px;
        width: 20vw;
        display: flex;
        justify-content: center;
      }
      @include tablet {
        width: 300px;
        top: 0;
        left: 50%;
      }
      @include nbpp {
        width: 300px;
        height: auto;
      }
    }
  }

  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.home-about_me-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mobile {
    position: static;
    z-index: 1;
    margin-top: 550px;
    margin-bottom: 200px;
    order: 1;
  }
  @include tablet {
    position: static;
    margin-bottom: 0;
    margin-top: 0;
    width: 50vw;
    font-size: 2vw;
  }
  @include notebook_only_width {
    font-size: 2.5rem;
    width: 650px;
  }

  &-logo {
    width: 40vw;
    @include tablet {
      width: 30vw;
    }
    @include notebook_only_width {
      width: 300px;
    }
  }

  p {
    font-size: 4vw;
    line-height: 5vw;
    margin: 10px 20px;
    text-align: center;
    @include mobile-mini {
      font-size: 3vw;
    }
    @include mobile-mini-plus {
      font-size: 2vh;
    }
    @include tablet {
      line-height: 40px;
      margin: 30px 20px;
    }
    @include notebook_only_width {
      font-size: 2rem;
    }

    b {
      font-weight: 700;
    }
  }
}


.home-back {
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
  @include mobile-mini {
    display: flex;
    justify-content: center;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 79%;
    background-color: #16121d91;
    z-index: 2;
    @include mobile-mini {
      width: 100%;
      height: 100%;
    }

  }

  &-hands {
    position: relative;
    width: 200%;
    max-width: 1400px;
    left: 60%;
    top: -28vw;
    transform: translateX(-50%);
    z-index: 1;
    object-fit: cover;

    @include mobile-mini {
      top: 0;
      left: 0;
      transform: translateX(0%);
      width: calc(200% - (100vw - 450px) * 2);
    }
    @include mobile {
      top: 0;
      left: 0;
      transform: translateX(0%);
      height: 70vw;
      width: calc(200% - (100vw - 450px) * 0.5);
    }
    @include notebook_only_width {
      top: 0;
      left: 0;
      transform: translateX(0%);
      height: 100%;
      width: calc(100% - (100vw - 400px) * 0.5);
    }
  }

  &-title {
    position: absolute;
    width: 80vw;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #ffffff;
    font-family: $font-head;
    animation: pulsate 10s infinite;

    @include mobile {
      top: 50%;
    }
    @include notebook_only_width {
      top: 45%;
    }

    h2 {
      font-size: 12vw;
      text-align: center;
      font-weight: bold;

      @include mobile {
        font-size: 6rem;
      }
      @include notebook_only_width {
        font-size: 10rem;
      }
    }
  }
}


@keyframes pulsate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    color: #FF69B4;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}