.home_carousel {
  width: 100%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  @include mobile-mini {
    height: 500px;
    margin: 10vw 0;
  }

  @include notebook_only_width {
    .home_carousel_button {
      .button-classic {
        font-size: 3rem;
        border-radius: 30px;
      }
    }
  }
  .home_carousel-content {
    max-width: 75vw;
    margin-bottom: 20px;
    @include notebook_only_width {
      display: none;
    }

    .carousel {
      justify-content: center;
      width: 100%;
    }

    .carousel .slider-wrapper.axis-horizontal .slider .slide {
      display: flex;
      align-items: center;
    }
    .carousel-prev,
    .carousel-next {
      font-size: 20px;
      color: #8151e2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      @include mobile-mini-plus {
        top: 50%;
        font-size: 40px;
      }
    }
    .carousel-next {
      right: -5px;
    }

    .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mobile-mini {
      }
      img {
        width: 40%;
        height: auto;
        max-height: 700px;
      }
      .carousel-description {
        padding-bottom: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
      }
      .description-1 {
        color: #FAD648;
        margin-top: 30px;
        @include mobile {
          margin-top: 95px;
        }
      }
      .description-2 {
        color: cornflowerblue;
      }
      .description-3 {
        color: darksalmon;
        margin-top: 30px;
        @include mobile {
          margin-top: 95px;
        }
      }
    }
  }

  .home_attractions {
    display: none;
  }

  @media (min-width: 1400px) {
    height: 800px;
    margin-top: 120px;
    margin-bottom: 100px;

    .home_attractions {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -10;
        height: 1px;
        width: 100%;
        background-color: gray;
        transform-origin: center;
        transform: translateX(-50%) scaleX(0);
        animation: draw-border 4s infinite alternate;
      }
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20vw;
        margin: 40px 70px;
        @include nbpp {
          width: 200px;
        }

        img {
          width: 100%;
          height: auto;
        }

        .attractions-description {
          padding-bottom: 150px;
          text-align: center;
          font-weight: bold;
          font-size: 3rem;
          position: relative;
        }

        .description-1 {
          top: 16%;
          color: #FAD648;
        }

        .description-2 {
          color: cornflowerblue;
        }

        .description-3 {
          top: 16%;
          color: darksalmon;
        }
      }
    }
  }

  .home_carousel_title {
    color: darkcyan;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 8vw;
    @include mobile-mini {
      font-size: 3rem;
      @include notebook_only_width {
        font-size: 6rem;
        margin-bottom: 40px;
      }
    }
  }
}

.home_carousel-content .carousel .control-dots .dot {
  background-color: #8151e2;
  opacity: 1;
}

.home_carousel-content .carousel .control-dots .dot.selected {
  background-color: aqua;
}

@keyframes draw-border {
  0% {
    transform: translateX(-50%) scaleX(0);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
