@import "./settings/_colors.scss";
@import "./settings/_fonts.scss";
@import "reset";
@import "./settings/_variables";
@import "Home.module";
@import "buttons";
@import "Home_first_step";
@import "Home_carousel_attractions";
@import "Home_carousel_opinions";
@import "Home-form";
@import "Footer";
@import "Home_offer";
@import "about_me/me";
@import "offer/offer";
@import "offer/OfferList";
@import "offer/OfferCarouselAttractions";
@import "offer/OfferMap";

body {
  font-family: $font-alt;
  font-size: 16px;
  color: $color-grey;
  overflow-x: hidden;
  @media (min-width: 2690px) {

  }
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: $font-primary;
}

