@import "./settings/_colors.scss";
@import "./settings/_fonts.scss";
@import "reset";
@import "settings/mixins.scss";
@import "Home.module";
@import "buttons";
@import "Home_first_step";
@import "Home_carousel_attractions";
@import "Home_carousel_opinions";
@import "Home-form";
@import "Footer";

body {
font-family: $font-base;
  font-size: 16px;
  color: $color-grey;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}