.atr-extra-header {
  width: 100%;
  height: 14vw;
  background-color: rgb(0, 0, 0, 0.4);
  color: $color-limon;
  font-size: 9vw;
  text-align: center;
  font-family: $font-head;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  @include notebook_only_width {
    font-size: 12rem;
    height: 300px;
    margin-top: 100px;
  }
  @include tablet_minHeight {
    font-size: 6rem;
  }
}

.atr-extra {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .atr-extra-content-background {
    margin-top: -20px;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    @include notebook_only_width {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .atr-extra-content {
    width: 100%;
    max-width: 2000px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
    @include mobile-mini-plus {
      width: 90%;
    }
    @include tablet {
      width: 70%;
    }
    @include notebook_only_width {
      width: 100%;
      order: 2;
      padding: 130px 0;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }
    @include tablet_minHeight {
      width: 70%;
    }
    h2 {
      text-align: center;
      font-weight: bold;
      font-size: 6vw;
      font-family: sergoe UI;

      @include mobile {
        font-size: 5vw;
      }
      @include notebook_only_width {
        margin-left: 10px;
        font-size: 4rem;
        text-align: left;
      }
      @include tablet_minHeight {
        font-size: 3rem;
      }
    }

    p {
      margin: 30px 15px -20px 15px;
      font-family: sergoe UI;
      line-height: 30px;
      font-size: 4.5vw;
      @include mobile-mini {
        font-size: 1.5rem;
      }
      @include mobile-mini-plus {
        line-height: 40px;
        font-size: 1.8rem;
      }
      @include notebook_only_width {
        font-size: 2.2rem;
        line-height: 50px;
        margin-right: 30px;
      }
      @include max {
        font-size: 2.5rem;
        line-height: 70px;
      }
      @include tablet_minHeight {
        font-size: 1.5rem;
      }
    }

    .atr-extra-content-text {
      @include notebook-only_width {
        width: 60%;
      }
    }
.atr-extra-content-text-piniata {
  p {
    @include notebook-only_width {
      font-size: 2.5rem;
    }
    @include tablet_minHeight {
      font-size: 1.5rem;
    }
    @include max {
      font-size: 2.8rem;
      line-height: 70px;
    }
  }
  }

    .atr-extra-content-others {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;

      .atr-extra-content-photo {
        width: 50%;
        @include mobile-mini-plus {
          width: 300px;

          @include notebook_only_width {
            margin-top: -420px;
            width: 600px;
          }
          @include tablet_minHeight {
            width: 300px;
          }
        }
      }

      @include notebook_only_width {
        flex-direction: column;
        align-items: flex-start;
      }

      .atr-extra-content-photo-face {
        margin-top: 50px;
        @include notebook_only_width {
          position: absolute;
          top: 5%;
        }
        @include tablet_minHeight {
          top: 20%;
        }
      }

      .atr-extra-content-photo-soapbox {
        margin-top: 50px;
        @include notebook_only_width {
          position: absolute;
          top: 10%;
        }
        @include tablet_minHeight {
          top: 30%;
        }
      }
      .atr-extra-content-photo-closeSoapbox {
        @include notebook_only_width {
          position: absolute;
          top: 40%;
        }
        @include tablet_minHeight {
          top: 50%;
        }
      }
      .atr-extra-content-photo-slime {
        margin-top: 50px;
        @include notebook_only_width {
          position: absolute;
          top: 10%;
        }
        @include tablet_minHeight {
          top: 20%;
        }
      }
      .atr-extra-content-photo-bag {
        @include notebook_only_width {
          position: absolute;
          top: 40%;
        }
        @include tablet_minHeight {
          top: 50%;
        }
      }

      .atr-extra-content-price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7vw;
        font-weight: bold;
        width: 40vw;
        height: 20vw;
        border-radius: 50%;
        background-color: white;
        border: 2px solid $color-main2;
        color: $color-main2;
        @include mobile-mini-plus {
          width: 300px;
          height: 130px;
          font-size: 3rem;
        }
        @include notebook_only_width {
          align-self: flex-end;
          margin-top: -320px;
          margin-right: 80px;
          width: 400px;
          height: 170px;
          font-size: 4rem;
        }
        @include tablet_minHeight {
          margin-top: -10px;
          width: 200px;
          height: 100px;
          font-size: 2rem;
        }
      }

      .atr-extra-content-price-piniata {
      }

      .atr-extra-content-price-face {
        border: 2px solid cornflowerblue;
        color: cornflowerblue;
        @include notebook_only_width {
          margin-top: 50px;
        }
      }

      .atr-extra-content-price-soapbox {
        border: 2px solid #e65721;
        color: #e65721;
        @include notebook_only_width {
          margin-top: 50px;
        }
      }

      .atr-extra-content-price-closeSoapbox {
        border: 2px solid #0edf61;
        color: #0edf61;
        @include notebook_only_width {
          margin-top: 200px;
          margin-left: 100px;
        }
      }

      .atr-extra-content-price-slime {
        border: 2px solid #cf5bb5;
        color: #cf5bb5;
        @include notebook_only_width {
          margin-top: 50px;
        }
      }

      .atr-extra-content-price-bag {
        border: 2px solid saddlebrown;
        color: saddlebrown;
        @include notebook_only_width {
          margin-top: 50px;
        }
      }
    }

    .atr-extra-content-others-reverse {
      flex-direction: row;
      @include notebook_only_width {
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        align-content: space-between;
      }
    }
  }
  .atr-extra-content-second {
    @include notebook_only_width {
      height: 900px;
      flex-direction: row;
    }
    @include max {
      height: 1100px;
    }
  }
  .atr-extra-content-end {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}