.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attractions-header {
  text-align: center;
  color: #b840f5;
  font-size: 6vw;
  font-weight: bold;
  font-family: $font-alt;
  @include mobile {
    font-size: 4vw;
  }
  @include tablet_minHeight {
    font-size: 3rem;
  }
  @include minHeight_nbpp {
    margin-top: 260px;

  }
  @include notebook {
    color: #b840f5;
    font-size: 7rem;
    margin: 100px 0;
  }
}
.attractions-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 2000px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 40px 0;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  @include mobile {
  }
  .attractions-list-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    @include notebook_only_width {
      width: 500px;
      margin: 50px;
    }
    .attractions-list-content-photo {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 50px;
      background-color: #8bacc0;
      @include mobile {
        width: 80%;
      }
      @include notebook_only_width {
        width: 100%;
      }
    }
    h2 {
      font-size: 4vw;
      text-align: center;
      font-weight: bold;
      color: $color-main2;
      @include mobile {
        font-size: 2vw;
      }
      @include notebook_only_width {
        margin-top: 50px;
        font-size: 2rem;
      }
      @include minHeight_nbpp {
        margin-top: 50px;
        font-size: 3rem;
      }
    }
  }
}