.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attractions-header {
  text-align: center;
  color: #b840f5;
  font-size: 8vw;
  font-weight: bold;
  font-family: $font-alt;
  @include mobile {
    font-size: 4vw;
  }
  @include tablet {
    font-size: 6rem;
  }
  @include notebook_only_width {
    color: #b840f5;
    font-size: 7rem;
    margin: 50px 0;
  }
}
.attractions-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 40px 0;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .attractions-list-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    @include notebook_only_width {
      width: 500px;
      margin: 50px;
      border: 2px solid black;
      border-radius: 50px;
      background-color: #dec5ff;
    }
    &-photo {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 50px;
      background-color: #8bacc0;
      @include mobile {
        width: 80%;
      }
      @include notebook_only_width {
        width: 100%;
      }
    }
    h2 {
      font-size: 3vw;
      text-align: center;
      font-weight: bold;
      color: #4929e5;
      @include mobile {
        font-size: 2vw;
      }
      @include notebook_only_width {
        margin: 20px;
        font-size: 3.5rem;
      }
    }
    .description-1 {
      color: orange;
    }
    .description-2 {
      //color: deeppink;
    }
    .description-3 {
      color: deeppink;
    }
    .description-4 {
      color: olivedrab;
    }
    .description-5 {
      color: darkcyan;
    }
    .description-6 {
      color: green;
    }
    .description-7 {
      color: #cf5bb5;
    }
  }
}