.header {
  &__top {
    &__background__about {
      height: 100vw;
      @include tablet {
        height: 70vw;
      }
      @include notebook_only_width {
        max-height: 1200px;
        height: 70vw;
        width: 100vw;
      }
      @media (min-width: 2500px) {
        height: 40vw;
      }
    }


    &__container__about {
      &__image {
        max-height: 1800px;
        top: -36vw;
        @include mobile {
          top: -35vw;
        }
        @include tablet {
          left: 75vw;
          top: -60px;
          width: 1053px;
        }
        @include notebook_only_width {
          top: -255px;
          width: 1350px;
        }
        @media (min-width: 5000px) {
          top: -700px;
        }
      }

      &__clouds {
        position: relative;
        width: 100%;
        left: 94vw;
        top: -105vw;
        transform: translateX(-50%);
        z-index: -20;
        overflow: hidden;
        rotate: 330deg;
      }
    }
  }
}

.header__central__text__about {
  position: absolute;
  top: 100vw;
  left: 88px;
  @include mobile-mini-minus {
    left: 20px;
  }
  @include mobile-mini-plus {
    top: 470px;
    left: 33px;
  }

  @include tablet {;
    left: 20vw;
  }
  @include notebook_only_width {
    width: 900px;
    left: 15vw;
    top: 18vw;
  }

  h1 {
    color: #FFFFFF;
    font-size: 15vw;
    margin-bottom: 30px;
    font-weight: normal;
    @include mobile-mini-plus {
    }
    @include mobile-mini-minus {
      left: 10px;
      font-size: 5rem
    }
    @include tablet {
      font-size: 10rem;
    }
    @include notebook_only_width {
      font-size: 15rem;
    }
  }
}

.about_me {
  width: 100%;
  margin-top: 129vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @include mobile-mini-plus {
    margin-top: 40vw;
  }
  @include tablet {
    margin-top: 20vw;
  }
  @include notebook_only_width {
    margin-top: calc(100% - (100vw - 815px) / 0.75);
    margin-bottom: 200px;
  }

  h1 {
    font-size: 10vw;
    z-index: 5;
    @include mobile-mini {
      margin-top: 8vw;
      font-size: 10vw;
    }
    @include tablet {
      margin-top: 1rem;
      font-size: 7vw;
    }
    @include notebook_only_width {
      font-size: 13rem;
    }
  }

  &-content {
    margin: 50px 0;
    width: 90%;
    height: 100%;
    background-color: #8bacc0;
    border-radius: 50px;
    z-index: 5;
    @include notebook_only_width {
      width: 900px;
    }

    &-text {
      padding: 12px;
      font-size: 1.5rem;
      text-align: center;
      line-height: 40px;
      @include mobile {
      }
      @include tablet {
        font-size: 2rem;
      }
      @include notebook_only_width {
        padding: 30px;
        font-size: 2rem;
      }
      b {
        font-weight: bold;
      }
    }
  }
}